<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button  color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title color="dark">Informaçoes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="ion-text-wrap">
    <ion-card-header>
      <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/ybQSBSrINtjWsJQ6Ih8sva8HlEZ.jpg" alt="Imagem Filme" class="foto">
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="8"><h1>Homem-Aranha: No Aranhaverso</h1></ion-col>
          <ion-col size="4">
            <ion-chip class="nota" color="success">
              <ion-label>84%</ion-label>
            </ion-chip>
          </ion-col>
        </ion-row>
      </ion-grid>

      <h3 class="data">10/01/2019 (BR)</h3>

      <ion-badge color="cinza">Comédia </ion-badge><br>
          <ion-badge color="cinza">Ação </ion-badge><br>
          <ion-badge color="cinza"> Aventura</ion-badge>
          <ion-badge color="cinza"> Animação</ion-badge>
          <ion-badge color="cinza">Ficção científica</ion-badge>

    </ion-card-content>

  </ion-card>
