ion-title{
  text-align: center;
}

.foto{
  padding: 5px;
}

h1{
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}

.nota{
  border: solid;
}

ion-badge{
  margin-top: 8px;
  margin-right: 6px;
}
