<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Filme </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar placeholder="buscar filmes"></ion-searchbar>


  <ion-list>
    <ion-item routerLink="/senhordosaneis" lines="full">
      <img src="https://br.web.img3.acsta.net/medias/nmedia/18/92/91/32/20224832.jpg" alt="nao tem foto" class="filme">
      <ion-label class ="ion-text-wrap">
        <div>
          <h3>Senhor dos aneis e a sociedade do anel</h3>
          <p class="data">1/01/2002 (BR)</p>
          <ion-badge color="cinza">Fantasia</ion-badge>
          <ion-badge color="cinza">aventura</ion-badge><br>
          <ion-badge color="cinza">Ação</ion-badge>
        </div>
      </ion-label>
      <ion-chip class="nota" color="success" outline>
        <ion-label>84%</ion-label>
      </ion-chip>
    </ion-item>


    <ion-item routerLink="/gemea" lines="full">
      <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/cklXRmdNUmXSkM0gMAz30pkzGGx.jpg" alt="nao tem foto" class="filme">
      <ion-label class ="ion-text-wrap">
        <div>
          <h3>Cada um tem a gemea que merece</h3>
          <p class="data">11/11/2011 (BR)</p>
          <ion-badge color="cinza">Comedia</ion-badge>
        </div>
      </ion-label>
      <ion-chip class="nota" color="warning" outline>
        <ion-label>43%</ion-label>
      </ion-chip>
    </ion-item>

    <ion-item routerLink="/passaro" lines="full">
      <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/lNC2Alq5CIIuPp1Bv0Y8hPHXZlP.jpg" alt="nao tem foto" class="filme">
      <ion-label class ="ion-text-wrap">
        <div>
          <h3>Birdemic: Choque e Terror </h3>
          <p class="data">27/02/2010 (BR)</p>
          <ion-badge color="cinza">ficção cientifica </ion-badge><br>
          <ion-badge color="cinza">terror</ion-badge>
        </div>
      </ion-label>
      <ion-chip class="nota" color="danger" outline>
        <ion-label>22%</ion-label>
      </ion-chip>
    </ion-item>

    <ion-item routerLink="/espaco" lines="full">
      <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/vXjHtOAHNkK6RjtzLd3cGqUP6Bj.jpg" alt="nao tem foto" class="filme">
      <ion-label class ="ion-text-wrap">
        <div>
          <h3>Space Jam: O Jogo do Século </h3>
          <p class="data">25/12/1996 (BR)</p>
          <ion-badge color="cinza">Comédia </ion-badge><br>
          <ion-badge color="cinza">Família</ion-badge>
          <ion-badge color="cinza"> Animação</ion-badge>
          <ion-badge color="cinza">Ficção científica</ion-badge>
        </div>
      </ion-label>
      <ion-chip class="nota" color="warning" outline>
        <ion-label>69%</ion-label>
      </ion-chip>
    </ion-item>

    <ion-item routerLink="/aranha" lines="full">
      <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/ybQSBSrINtjWsJQ6Ih8sva8HlEZ.jpg" alt="nao tem foto" class="filme">
      <ion-label class ="ion-text-wrap">
        <div>
          <h3>Homem-Aranha: No Aranhaverso </h3>
          <p class="data">10/01/2019 (BR)</p>
          <ion-badge color="cinza">Comédia </ion-badge><br>
          <ion-badge color="cinza">Ação </ion-badge><br>
          <ion-badge color="cinza"> Aventura</ion-badge>
          <ion-badge color="cinza"> Animação</ion-badge>
          <ion-badge color="cinza">Ficção científica</ion-badge>
        </div>
      </ion-label>
      <ion-chip class="nota" color="success" outline>
        <ion-label>84%</ion-label>
      </ion-chip>
    </ion-item>
  </ion-list>








</ion-content>
