.seg{
  margin-left: 5px;
}

ion-title{
  text-align: center;
}

h3{
  font-size: 18px;
  font-weight: bold;
}

.data{
  font-size: 14px;
}

.filme{
  height: 150px;
  width: 100px;
  margin-right: 10px;
  margin-bottom: 5px;
}

.nota{
  border:dashed;
  border-radius: 30px;
  height:60px;
  width:60px;
  font-weight: bold;
  font-size: 14px;
 }

