<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     Filme 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 
  <ion-thumbnail class="img">
    <img src="https://br.web.img3.acsta.net/medias/nmedia/18/92/91/32/20224832.jpg">
    <ion-label>Item Thumbnail</ion-label>
  </ion-thumbnail>

  <ion-thumbnail class="img">
    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///////yH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
    <ion-label>Item Thumbnail</ion-label>
  </ion-thumbnail>

  <ion-thumbnail class="img">
    <img src="https://upload.wikimedia.org/wikipedia/pt/0/0d/EsdlaIII.jpg">
    <ion-label>Item Thumbnail</ion-label>
  </ion-thumbnail>

  <ion-thumbnail class="img">
    <img src="https://br.web.img3.acsta.net/medias/nmedia/18/92/91/32/20224832.jpg">
    <ion-label>Item Thumbnail</ion-label>
  </ion-thumbnail>

  <ion-thumbnail class="img">
    <img src="https://br.web.img3.acsta.net/medias/nmedia/18/92/91/32/20224832.jpg">
    <ion-label>Item Thumbnail</ion-label>
  </ion-thumbnail>

 
</ion-content>
