<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button  color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title color="dark">Informaçoes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="ion-text-wrap">
    <ion-card-header>
      <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/lNC2Alq5CIIuPp1Bv0Y8hPHXZlP.jpg" alt="Imagem Filme" class="foto">
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="8"><h1>Birdemic: Choque e Terror</h1></ion-col>
          <ion-col size="4">
            <ion-chip class="nota" color="danger">
              <ion-label>22%</ion-label>
            </ion-chip>
          </ion-col>
        </ion-row>
      </ion-grid>

      <h3 class="data">27/02/2010 (BR)</h3>

      <ion-badge color="cinza">ficção cientifica </ion-badge><br>
      <ion-badge color="cinza">terror</ion-badge>


    </ion-card-content>

  </ion-card>
